*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
      margin: 0;
      padding: 0;
}
/* image position */
body{
  background: #000000;
  cursor: pointer;
  font-family: Helvetica, Helvetica;
  font-weight: lighter;
  height: 100%
}
/* page  upper-header */
.nav_header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  background: #FF3920;
  width: 100%;
  top: 0;
  color: #000000;
  z-index: 1;
}
.nav_header .logo img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: solid;
}
.nav_header .logo input[type="search"]{
	border-width: thin;
	border-bottom: solid;
  border-left: none;
  border-right: none;
  border-top: none;
	color: #FFB302;
  height: 75%;
  width: 90%;
  background: #FF3920;
}
/*search button */
.nav_header .logo .search_btn{
  border-width: thin;
	border-style: solid;
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 100%;
}
/*search button and icons */
.nav_header .logo .search_btn .fa{
  color: #FFB302;
  padding: 1%;
}
/* subTittle on Header */
.nav_header .Menu .nav_icons{
  height: 100%;
  list-style: none;
  padding: 17px;
  margin-left: -13.2%;
}
.nav_header .Menu .nav_icons .sym_icons{
  float: left;
  padding-left: 12.5%;
}
.nav_header .Menu .nav_icons .sym_icons .fa{
  color: #FFB302;
  font-size: 1.4em;
}
.nav_header .Menu .nav_icons .sym_icons .link_icon{
  text-decoration: none;
  color: #FFB302;
  font-family: Helvetica, Helvetica;
  font-weight: lighter;
  font-size: 1em;
}
/* page container */
.shop_container {
  margin-top: 10%;
  color: #FFB302;
}
.shop_container .Home_shops{
  padding: 7px;
  border-bottom:1px solid #373B49;
}
.shop_container .Home_shops ul{
  list-style: none;
  padding: 1%;
}
.shop_container .Home_shops .fa-check-circle{
  position: absolute;
  color: gold;
  font-size: 30px;
  margin: 37px;
  left: 4%;
  display: none;
  border-style: solid;
  border-radius: 100%;
}
.shop_container .Home_shops .fa-ellipsis-v{
  position: absolute;
  margin-top: 2px;
  padding: 7px;
  font-size: 1.3rem;
  color: #FFB302;
}
.shop_container .Home_shops img{
  position: absolute;
  width: 13%;
  height: 15%;
  border-radius: 5px;
}
.shop_Note .Shop_infor label{
  margin-left: 22%;
  text-align: left;
  align-content: center;
  display: block;
}
.shop_container .Home_shops button{
  position: relative;
  margin-left: 20%;
  width: 60%;
  border-width: thin;
  border-style: solid;
  color: gold;
  background: #000000;
  height: 4Vh;
  border-radius: 20px;
}
/* product PopUp */
.product_Modal{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  background: #000000;
  z-index: 2;
  padding: 0;
  margin: 0
}
/* header of the product */
.product_controller{
  color: #FFB302;
  position: fixed;
  background: #000000;
  width: 100%;
  border-bottom: solid dimgrey;
  padding: 20px;
  z-index: 2;
}
.product_controller ul{
  list-style-type: none;
}
/* product modal close */
.product_controller .product_cart_log_close{
 position: absolute;
 right: 0;
 top: 0;
 padding: 20px;
 transform: rotate(40deg);
 font-size: 30px;
 color: red;
}
/* product details */
.product_Modal .Product_content ul{
  margin-top: 4%;
  color: gold;
  list-style: none;
  display: block;
}
.product_Modal .Product_content ul li{
  border-bottom: solid;
  border-width: thin;
  margin-top: 7%;
  padding: 3px;
  z-index: 1;
}
.product_Modal .product_price .product_details{
  position: absolute;
  top: 250px;
  background: #000000;
  width: 16%;
  font-size: 22px;
  font-family: Helvetica, Helvetica;
  z-index: 1;
}
.product_Modal .product_price .product_remaining{
  position: absolute;
  left: 14%;
  padding: 9px;
  color: #000000;
  border-radius: solid;
  background: gold;
  border-radius: 100%;
  z-index: 1;
}
.Product_content ul li .product_price{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
  display: inline;
}
ul li .product_price img{
  width: 16%;
}
.Product_content .product_cartlog{
  padding: 1%;
  margin: 0;
}
.product_Modal .Product_content ul li:last-child{
  border-width: thin;
  margin-top: 7%;
}
/*shop profile*/
.shop_Details{
  position: absolute;
  width: 100%;
  height: auto;
  margin-left: -1.5%;
  top: 0;
  background: #000000;
  z-index: 2;
}
.shop_details_close{
  background: #FF3920;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 10%;
}
.shop_details_close .fa-times{
  position: fixed;
  margin-left: 98%;
}
.shop_Details img{
  height: 100px !important;
  width: 100px !important;
  margin-left: 42%;
  margin-top: 70px;
  border-radius: 20px;
}
.shop_Details .shop_profile{
  list-style: none;
  padding: 4px;
  margin-top: 170px;
}
.shop_profile label{
  font-size: 1.3rem;
}
.shop_Details .Shop_p{
  padding: 15px;
  border-bottom: 3px solid red;
  width: 100%;
}
