
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
      margin: 0;
      padding: 0;
}
/* image position */
body{
  background: #000000;
  cursor: pointer;
  font-family: Helvetica, Helvetica;
  font-weight: lighter;
  font-size: 1.1em;
}
/* page  upper-header */
.nav_header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  background: #FF3920;
  width: 100%;
  top: 0;
  color: #000000;
  z-index: 1;
}
.nav_header .logo img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: solid;
}
.nav_header .logo input[type="search"]{
	border-width: thin;
	border-bottom: solid;
  border-left: none;
  border-right: none;
  border-top: none;
	color: #FFB302;
  height: 25px;
  width: 90%;
  background: #FF3920;
}
/*search button */
.nav_header .logo .search_btn{
  border-width: thin;
	border-style: solid;
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 100%;
}
/*search button and icons */
.nav_header .logo .search_btn .fa{
  color: #FFB302;
  padding: 1%;
}
/* subTittle on Header */
.nav_header .Menu .nav_icons{
  height: 100%;
  list-style: none;
  padding: 17px;
  margin-left: -13.2%;
}
.nav_header .Menu .nav_icons .sym_icons{
  float: left;
  padding-left: 12.5%;
}
.nav_header .Menu .nav_icons .sym_icons .fa{
  color: #FFB302;
  font-size: 1.4em;
}
.nav_header .Menu .nav_icons .sym_icons .link_icon{
  text-decoration: none;
  color: #FFB302;
  font-family: Helvetica, Helvetica;
  font-weight: lighter;
  font-size: 1em;
}
/* active users or shops */
.active_Customers{
  margin-top: 130px;
  color:  #FFB302;
  opacity: 0.7;
  padding-top: 15px;
}
.active_Customers .list_customers{
  list-style-type: none;
}
.list_customers .customer_online{
  padding: 9px;
  border-bottom: 2px solid #373B49;
}
.customer_online .user_name{
  position: absolute;
  width: 10%;
}
.customer_online .customer_Status{
  margin-left: 92%;
  color: blue;
}
.customer_online input[type='radio']{
 float: right;
}
/* user */
.customer_online .fa-user{
  background: red;
  padding: 9px;
  font-size: 1.3rem;
  border-radius: 100%;
  color: #000000;
}
